<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
    <category name="CakePHP" id="com.doapps.commands.opencakefile"></category>
    <command name="Open Cake File" categoryId="com.doapps.commands.opencakefile" id="com.doapps.commands.OpenCakeFile"></command>
    <command name="Open Cake Model" categoryId="com.doapps.commands.opencakefile" id="com.doapps.commands.OpenCakeModel"></command>
    <command name="Open Cake Model" categoryId="com.doapps.commands.opencakefile" id="com.doapps.commands.OpenCakeController"></command>
   </extension>
   
  <extension point="org.eclipse.ui.handlers">
    <handler commandId="com.doapps.commands.OpenCakeFile" class="com.doapps.cakephp.handlers.OpenCakePHPFileHandler"></handler>
    <handler commandId="com.doapps.commands.OpenCakeModel" class="com.doapps.cakephp.handlers.OpenCakePHPModelHandler"></handler>
    <handler commandId="com.doapps.commands.OpenCakeController" class="com.doapps.cakephp.handlers.OpenCakePHPControllerHandler"></handler>
  </extension>
  
<extension point="org.eclipse.ui.bindings">
    <key
      commandId="com.doapps.commands.OpenCakeFile"
      contextId="org.eclipse.ui.contexts.window" 
      sequence="Ctrl+Shift+;"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
    <key
      commandId="com.doapps.commands.OpenCakeModel"
      contextId="org.eclipse.ui.contexts.window"
      sequence="Ctrl+Shift+M"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
    <key
      commandId="com.doapps.commands.OpenCakeController"
      contextId="org.eclipse.ui.contexts.window"
      sequence="Ctrl+Shift+C"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
  </extension>
  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.doapps.cakephp.preferences.CakePHPPreferencePage"
            id="com.doapps.cakephp.preferences.CakePHPPreferencePage"
            name="CakePHP">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.doapps.cakephp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.doapps.cakephp.properties.CakePHPPropertyPage"
            id="com.doapps.cakephp.properties.CakePHPPropertyPage"
            name="CakePHP project">
      </page>
   </extension>

</plugin>
